<h1>Cakewalk</h1>
<h2>Connect with a Ruby on Rails expert to walk you through your coding roadblock.</h2>
<!--ADMIN-->
<% if logged_in? && current_user.admin? %>
	<p>Admin priviledges. These people have requested to become experts:</p>
	<!-- list of all users.pending_expert? -->
	<% @pending_experts.each do |f| %>
		</br>Name: <%= f.name %></br>
		</br>Email: <%= f.email %></br>
		<%= link_to 'Make Expert', makeexpert_booking_path(f), confirm: 'Make expert?' %>
	<% end %>
	</br></br><p>Admin priviledges. These people are already experts:</p>
	<% @experts.each do |f| %>
		</br>Name: <%= f.name %></br>
		</br>Email: <%= f.email %></br>
		<%= link_to 'Revoke Expert', revokeexpert_booking_path(f), confirm: 'Revoke expert?' %>
	<% end %>
<% end %>
<!--EXPERT-->
<% if logged_in? && current_user.expert? %> 
	<p>You're an expert.</p>
	<% @pending_bookings.each do |f| %>
		</br>Name: <%= f.user.name %></br>
		</br>Email: <%= f.user.email %></br>
		</br><%= f.time_request1 %></br><%= link_to 'Select', accepttime1_booking_path(f), confirm: 'Do you want to Cakewalk this person at this time?' %>
		</br><%= f.time_request2 %></br><%= link_to 'Select', accepttime2_booking_path(f), confirm: 'Do you want to Cakewalk this person at this time?' %>
		</br><%= f.time_request3 %></br><%= link_to 'Select', accepttime3_booking_path(f), confirm: 'Do you want to Cakewalk this person at this time?' %></br>
		</br>
				</br><%= link_to 'Decline', declineuser_decline_path(f), confirm: 'Do you want to decline this request?' %>
		<!--</br>decline this person-->
	</br></br></br>
	<% end %>
<% end %>
<!--REGULAR USER... copy below section for experts as well-->
<% if logged_in? && current_user.expert == false && current_user.card_id != nil %> <!-- add && if cc not nil... if cc not on file-->
	<!-- same as code from above if block -->
	<%=form_for(@requestedtimes) do |requestedtimes| %>
		<!-- for errors -->
		<% if @requestedtimes.errors.any? %>
          <h2><%= pluralize(@requestedtimes.errors.count, "error")%> made this not work. </h2>
          <ul>
            <% @requestedtimes.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

        <%= requestedtimes.datetime_select :time_request1 %></br>
        <%= requestedtimes.datetime_select :time_request2 %></br>
        <%= requestedtimes.datetime_select :time_request3 %></br>
        <%= requestedtimes.hidden_field :user_id, :value => current_user.id %>
        <!-- hidden field for skill? -->

        <%= requestedtimes.submit "Find me an Expert" %>
    <% end %></br>
    	<% if logged_in? && current_user.expert == false && current_user.pending_expert == false %>
			<p><%= link_to "Apply to be an expert.", static_apply_path %> </p>
		<% end %>
		<% if logged_in? && current_user.expert == false && current_user.pending_expert == true %>
			<p>Your application to be an expert is under review.</p>
		<% end %>
<% end %> 
<!--NO CARD ON FILE-->
<% if logged_in? && current_user.card_id == nil %>
	<p><%= link_to "Book an expert.", bookings_finishregistration_path %> </p>
<% end %>

<% unless logged_in? %>
	<p>You ain't logged in, you ain't nobody.</p>
<% end %>


